.tab-menu-container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(var(--menu-number), 1fr);
  align-items: stretch;
  border-bottom: 1px solid var(--tab-menu-border-color);
  column-gap: 1.2rem;
  width: 100%;

  @include until ($small-phone) {
    column-gap: 0px;
  }

  .tab-menu-item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $size-7;
    color: var(--tab-menu-text-color);
    padding: 2rem;
    text-align: center;
    line-height: 1.25;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    transition:
      color 150ms linear,
      border-color 100ms linear;
    font-weight: 700;

    @include until ($small-phone) {
      font-size: $size-8;
      padding: 2rem 0.8rem;
    }

    .menu-index {
      font-size: 0.9em;
    }

    &::after,
    &::before {
      position: absolute;
      pointer-events: none;
      content: '';
      display: block;
    }

    &::before {
      width: 6px;
      height: 6px;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0);
      top: 8px;
      left: 50%;
      transform: translateX(-50%);
      transition: border-color 150ms linear;
    }

    &:hover,
    &:focus,
    &.is-active {
      color: var(--tab-menu-text-color_active);
    }

    &.is-active {
      background-color: $background-0;
      border-color: $text-0;

      &::before {
        border-color: var(--tab-menu-border-color_active);
      }
    }
  }
}
