$themeVars: (
  text-0: (#0D0D0D, #0D0D0D),
  text-1: (#595959, #595959),
  text-2: (#8C8C8C, #8C8C8C),
  background-0: (#F2F2F2, #F2F2F2),
  background-0_1: (#E1E1E1, #E1E1E1),
  background-0_2: (#B6B6B6, #B6B6B6),
  highlight: (#c9faa8, #c9faa8),

  // tab-menus
  tab-menu-text-color: (#8C8C8C, #8C8C8C),
  tab-menu-border-color: (#8C8C8C, #8C8C8C),
  tab-menu-text-color_active: (#0D0D0D, #0D0D0D),
  tab-menu-border-color_active: (#0D0D0D, #0D0D0D)
);

:root {
  // Theme-independant custom colour variables for the project
  --c-white: #F2F2F2;
  --c-grey: #8C8C8C;
  --c-dark-grey: #595959;
  --c-light-black: #262626;
  --c-black: #0D0D0D;
  --c-highlight-green: #D4FFB8;

  // light-theme colour declarations

  @each $name, $list in $themeVars {
    $light_val: nth($list, 1);

    --#{$name}: #{$light_val};
  }
}

:root[data-theme='dark'] {
  // dark-theme colour declarations

  @each $name, $list in $themeVars {
    $dark_val: nth($list, 2);

    --#{$name}: #{$dark_val};
  }
}
