// Custom checkbox UI component
.checkbox-container {
  position: relative;
  display: inline-flex;
  column-gap: 0.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: $size_7;

  .checkbox-wrapper {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.4rem;
    flex-shrink: 0;
    border: 1px solid $text-2;
    transition: border-color 150ms linear;
    overflow: hidden;

    input[type="checkbox"] {
      position: absolute;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      opacity: 0;
      z-index: 2;
      top: -1px;
      left: -1px;
      cursor: pointer;
    }

    .checkbox-inner {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $text-0;
      opacity: 0;
      transition:
        opacity 150ms ease-out;

      @include has-icon;
      &::before {
        content: "\e64c";
        font-size: 1rem;
        font-weight: 800;
        line-height: 1;
        transform: scale(0);
        transition: transform 150ms linear;
        color: $highlight;
      }
    }

    input[type="checkbox"]:checked ~ .checkbox-inner {
      opacity: 1;

      &::before {
        transform: scale(1);
      }
    }
  }

  .checkbox-text {
    position: relative;
    min-height: 1.6rem;
    line-height: 1.6rem;
    font-size: inherit;
    color: $text-1;
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &.is-active {
    .checkbox-wrapper {
      border-color: $text-0;
    }
  }
}
