@mixin overflow-touch {
  -webkit-overflow-scrolling: touch;
}

@mixin placeholder {
  $prefixes: ":-moz" ":-webkit-input" "-moz" "-ms-input";
  @each $prefix in $prefixes {
    &:#{$prefix}-placeholder {
      @content;
    }
  }
}

@mixin height-100vh {
  height: calc(var(--vh, 1vh) * 100);
}

@mixin grid-bg($len: 6px) {
  background:
    repeating-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) #{$len}, var(--background-0_1) #{$len}, var(--background-0_1) #{$len + 1px}),
    repeating-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) #{$len}, var(--background-0_1) #{$len}, var(--background-0_1) #{$len + 1px});
}

/*
  possible pre-defined sass-variables for below util mixins:

  $small-phone: 576px;
  $large-phone: 768px;
  $tablet: 992px;
  $desktop: 1200px;
  $desktop-large: 1600px;
*/

@mixin from ($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin until ($bp) {
  @media screen and (max-width: $bp - 1px) {
    @content;
  }
}

@mixin fromUntil ($bp1, $bp2) {
  @media screen and (min-width: $bp1) and (max-width: $bp2 - 1px) {
    @content;
  }
}

@mixin from-v ($bp) {
  @media screen and (min-height: $bp) {
    @content;
  }
}

@mixin until-v ($bp) {
  @media screen and (max-height: $bp - 1px) {
    @content;
  }
}

@mixin tall-screen {
  @media screen and (min-height: 1000px) {
    @content;
  }
}
