/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

article,
aside,
figure,
footer,
header,
section {
  display: block;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  appearance: none;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

button {
  // normalize the button style by removing all platform-variant styles.

  border: none;
  border-radius: 0;
  width: auto;
  overflow: visible;
  min-height: auto;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  cursor: pointer;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
