@font-face {
  font-family: 'monument_extended';
  src: url('./fonts/monumentextended-black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monument_extended';
  src: url('./fonts/monumentextended-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monument_extended';
  src: url('./fonts/monumentextended-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monument_extended';
  src: url('./fonts/monumentextended-ultralight-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-size: 10px;

  // adjustable font-variables
  --size-0: 6.4rem;
  --size-1: 3.2rem;
  --size-2: 2.4rem;
  --size-3: 2rem;
  --size-4: 1.8rem;
  --size-5: 1.6rem;
  --size-6: 1.4rem; // default body-text size
  --size-7: 1.2rem;
  --size-8: 1rem;
}

body {
  font-family: "monument_extended", "Helvetica Neue", "sans-serif";
  font-style: normal;
  font-weight: lighter;
  line-height: 1.5;
  color: $text-0;
  font-size: $size-6;
}

// Text selection highlight styles

::-moz-selection { /* Code for Firefox */
  color: $highlight;
  background: $text-0;
}

::selection {
  color: $highlight;
  background: $text-0;
}

// link styles
.is-link {
  position: relative;
  display: inline-block;
  font-weight: 300;
  color: var(--highlight-2_1);
  text-decoration: none;
  margin-left: 1px;
  margin-right: 1px;
  line-height: 1.2;
  outline: none;
  transition: color 200ms linear;

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid currentColor;
  }

  &:focus,
  &:hover {
    color: $background-0_2;

    &::after {
      animation: link-hover-ani 250ms linear forwards;
    }
  }

  &:active {
    background-color: $background-0_1;
  }

  &.has-icon::before {
    display: inline-block;
    margin-right: 1px;
    font-size: 1.05em;
    content: "\e62d";
    font-family: "Project Icons";
    font-weight: 700;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  @keyframes link-hover-ani  {
    0% { width: 0%; }
    100% { width: 100%; }
  }
}

// various colour-related util classes

.has-color-text-1 {
  color: $text-1;
}

.has-text-0-as-bg {
  background-color: $text-0;
  color: $background-0;
}

.has-text-1-as-bg {
  background-color: $text-1;
  color: $background-0;
}