
// colour-related sass-variables
$white: var(--c-white);
$grey: var(--c-grey);
$dark-grey: var(--c-dark-grey);
$light-black: var(--c-light-black);
$black: var(--c-black);

$white-hex: #F2F2F2;
$grey-hex: #8C8C8C;
$dark-grey-hex: #595959;
$light-black-hex: #262626;
$black-hex: #0D0D0D;
$highlight-green-hex: #87D0BF;
$highlight-orange-hex: #fdc345;
$warning-hex: #EA473B;

$text-0: var(--text-0);
$text-1: var(--text-1);
$text-2: var(--text-2);
$background-0: var(--background-0);
$background-0_1: var(--background-0_1);
$background-0_2: var(--background-0_2);
$highlight: var(--highlight);
$highlight-2: var(--highlight-2);
$highlight-3: var(--highlight-3);
$warning: var(--warning);

// font-size related sass-variables
$size-0: var(--size-0);
$size-1: var(--size-1);
$size-2: var(--size-2);
$size-3: var(--size-3);
$size-4: var(--size-4);
$size-5: var(--size-5);
$size-6: var(--size-6);
$size-7: var(--size-7);
$size-8: var(--size-8);

// media-queries related sass-variables
$small-phone: 576px;
$large-phone: 768px;
$tablet: 992px;
$desktop: 1200px;
$desktop-large: 1600px;


// z-indexes
$zindex-tooltip: 10;
$zindex-toolbar: 20;
$zindex-popup: 30;
$zindex-cursor: 40;

// miscellaneous sass-variables
$toolbar-height: var(--toolbar-height);
$skills-page-grid-from: 650px;

@import "mixins";
