.page-contact {
  position: relative;

  .contact-page-animation {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;

    .svg {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: var(--background-0_2);
      border: 2px solid $text-2;
      opacity: 0.525;
    }
  }

  .page-content-wrapper {
    max-width: 86rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sender-details {
    position: relative;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;

    .mail-field {
      margin-bottom: 3rem;
    }

    @include from ($large-phone) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;

    button.send-btn {
      @include from ($small-phone) {
        padding-top: 2rem;
        min-width: 16rem;
      }
    }
  }

  .submit-success-container {
    position: relative;
    text-align: center;
    color: $text-1;
    font-size: $size-6;
    width: 100%;
    max-width: 54rem;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: contact-success-ani 600ms ease-out forwards 100ms;

    .rocket-icon {
      margin-bottom: 3rem;
    }

    p {
      margin: 0;

      &:first-of-type {
        margin-bottom: 1.2rem;
      }
    }

    .go-home-btn {
      margin-top: 4rem;
    }

    @include until($small-phone) {
      font-size: $size-7;
    }
  }

  @keyframes contact-success-ani {
    0% {
      transform: translateY(1.2rem);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
