.page-resume {
  position: relative;

  .resume-details {
    position: relative;
    margin-top: 4rem;
    max-width: 82rem;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    .resume-content-container {
      position: relative;
      font-weight: lighter;
      padding: 4rem 1.5rem;
      color: $text-0;
      font-size: 1.2rem;
    }
  }

  .resume-content {
    &-line {
      position: relative;
      display: flex;
      align-items: flex-start;
      margin-bottom: 1.4rem;
      line-height: var(--size-6);

      &.is-align-center {
        align-items: center;
      }

      &.is-column {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-label {
      position: relative;
      display: inline-block;
      text-transform: capitalize;
      line-height: inherit;
      font-weight: 600;
      font-size: 1.2rem;
      color: $text-0;
      border-right: 1px solid $background-0_2;
      padding: 0.2rem 1.8rem 0.2rem 0;
      flex-shrink: 0;
      margin-right: 1.8rem;
    }

    &-value {
      display: block;
      flex-grow: 1;
      line-height: 2rem;
    }
  }

  .map-icon {
    font-size: 1.4em;
    font-weight: 900;
    margin-right: 4px;
  }

  .period-and-work-type {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.8rem;
    font-size: 0.875em;
    color: $text-0;
    font-weight: 400;
    padding-left: 0.4rem;
  }

  .emphasis {
    color: $text-0;
    font-weight: 400;
  }

  .stacks-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.2rem;
  }

  .stack-tag {
    display: inline-block;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    color: $text-0;
    background-color: $background-0_1;
    border: 1px solid $text-0;
    font-size: $size-7;
    line-height: 1.3;

    &.no-highlight {
      color: $text-0;
      background-color: $background-0;
      border: 1px solid $background-0_2;
    }
  }

  .resume-desc-item,
  .resume-desc-item .sub-list-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1rem;
    line-height: 1.3;

    .item-arrow {
      flex-shrink: 0;
      margin-right: 0.8rem;
      line-height: inherit;
      transform: scale(0.85);
    }
  }

  .resume-desc-item .resume-desc-sub-list {
    padding: 1.2rem 0 1.2rem 1.8rem;
  }

  .resume-desc-item .item-value {
    flex-grow: 1;

    .is-link {
      margin-left: 4px;
    }
  }
}
