extends mail-boilerplate.pug

block body
  h3(style={ 'font-size': '18px' }) Thanks #{name}, for sending a message!
  br
  br
  p(style={ color: 'var(--text-1)', 'font-size': '14px' })
    | I appreciate your interest. I will come back to you via the email you have given soon after I read it.
    br
    | I normally takes up to 1 or 2 days.
    br
    br
    | Regards,
    br
    | Sebin
