extends mail-boilerplate.pug

block body
  - const labelMap = { title: '제목', id: 'ID', content: '내용' }

  h3(style={ 'font-size': '16px' }) 새로운 피드백 생성
  br
  br
  each val, key in data
    p.list-item
      label #{labelMap[key]}
      span.value #{val}
