.page-home {
  position: relative;

  .home-main-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - var(--toolbar-height));
    overflow: hidden;
  }

  .intro-block {
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 80vw;

    .iam {
      --bg-side: 10rem;
      position: relative;
      display: inline-block;
      width: max-content;
      font-size: 1.4rem;
      color: var(--text-1);
      z-index: 0;
      margin-bottom: 1rem;

      .text {
        position: relative;
        z-index: 2;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: var(--bg-side);
        height: var(--bg-side);
        border-radius: 50%;
      }

      &::before {
        width: var(--bg-side);
        height: var(--bg-side);
        transform: translate(-50%, -50%);
        border: 1px dashed $text-2;
        z-index: 1;
      }

      &::after {
        width: calc(var(--bg-side) * 1.0175);
        height: calc(var(--bg-side) * 1.0175);
        transform: translate(-58%, -42%);
        background-color: var(--highlight);
        border: 1px solid $background-0_1;
        z-index: 0;
      }

      @include from ($tablet) {
        --bg-side: 16rem;
        font-size: 1vw;
        margin-bottom: 3rem;
      }

      @include from ($desktop-large) {
        --bg-side: 11vw;
      }
    }

    h1.my-name {
      font-weight: 900;
      font-size: 14vw;
      line-height: 1;
      z-index: 1;
      margin-bottom: 3rem;

      @include from ($small-phone) {
        font-size: 12vw;
      }

      @include from ($large-phone) {
        margin-bottom: 2rem;
        font-size: 8.25vw;
      }

      @include from ($desktop) {
        font-size: 6.85vw;
      }
    }

    .intro-para {
      position: relative;
      padding-left: 1rem;
      font-size: $size-5;
      color: var(--text-1);
      font-weight: 500;
      line-height: 2;

      .to-skill-page {
        position: relative;
        display: inline-block;
        line-height: 1;
        color: $text-0;
        font-weight: 700;
        padding: 0.3em;
        border: 1px solid var(--text-2);
        background-color: $highlight;
        box-shadow: 0 0 0 0 $text-0;
        transition:
          border-color 100ms ease-out,
          box-shadow 100ms ease-out,
          transform 100ms ease-out;

        cursor: pointer;

        @include has-icon;
        &::before {
          padding: 0.3rem 0.3rem 0.2rem 0.2rem;
          content: '\e65a';
          font-size: 0.8em;
          margin-right: 0.4rem;
          background-color: $text-0;
          color: $highlight;
        }

        &:focus,
        &:hover {
          border-color: currentColor;
          transform: translate(-1px, -1px);
          box-shadow: 2px 2px 0 0 $text-0;
        }

        &:active {
          transition: none;
          transform: translate(0, 0);
          box-shadow: 0 0 0 0 $text-0;
        }
      }

      @include from ($desktop) {
        font-size: 1.1vw;
      }
    }
  }

  .home-scroll-indicator {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-introduce-myself {
    position: relative;
    padding: 4rem 2rem;
    padding-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .page-title-container {
      padding-bottom: 0;
      margin-bottom: 5rem;

      @include from ($small-phone) {
        width: max-content;
      }
      
      .page-title {
        font-size: 2rem;
      }

      &::after {
        display: none;
      }
    }

    .my-img-container {
      position: relative;
      filter: grayscale(20%);
      opacity: 0.925;
      width: max-content;
      height: max-content;
      margin-bottom: 8rem;

      img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        max-width: 20rem;
        z-index: 2;
        transition: transform 120ms ease-out;

        @include from ($small-phone) {
          max-width: 24rem;
        }

        @include from ($desktop-large) {
          max-width: 30rem;
        }
      }

      .frame-1,
      .frame-2 {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid $text-2;
        background-color: $background-0;
        transition: transform 200ms ease-out;
      }

      .frame-1 {
        top: 0.6rem;
        left: 0.8rem;
        z-index: 1;
      }

      .frame-2 {
        top: 1.2rem;
        left: 1.6rem;
        z-index: 0;
      }

      &:hover {
        img {
          transform: translate(-3px, -1px);
        }

        .frame-1 {
          transform: translate(2px, 0);
        }

        .frame-2 {
          transform: translate(6px, 2px);
        }
      }
    }

    .bio-paragraph {
      position: relative;
      display: block;
      padding-top: 3rem;
      max-width: 72rem;
      color: $text-1;
      font-size: $size-6;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 4rem;
        height: 1px;
        border-bottom: 1px solid $text-2;
      }

      .emphasis {
        font-weight: 600;
        color: $text-0;
      }

      @include from ($large-phone) {
        font-size: $size-5;

        &::before {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .muay-thai-img-container {
      position: relative;
      width: max-content;
      margin-bottom: 4rem;
    }

    .muay-thai-svg {
      width: 24rem;
      height: 24rem;
      color: $text-0;
      fill: $text-1;

      @include from ($small-phone) {
        width: 28rem;
        height: 28rem;
      }
    }
  }
}
