.page-home {
  position: relative;

  .home-main-section {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - var(--toolbar-height));
    overflow: hidden;
  }

  .intro-block {
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 80vw;

    .iam {
      --bg-side: 10rem;
      position: relative;
      display: inline-block;
      width: max-content;
      font-size: 1.4rem;
      color: var(--text-1);
      z-index: 0;
      margin-bottom: 1rem;

      .text {
        position: relative;
        z-index: 2;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: var(--bg-side);
        height: var(--bg-side);
        border-radius: 50%;
      }

      &::before {
        width: var(--bg-side);
        height: var(--bg-side);
        transform: translate(-50%, -50%);
        border: 1px dashed $text-2;
        z-index: 1;
      }

      &::after {
        width: calc(var(--bg-side) * 1.0175);
        height: calc(var(--bg-side) * 1.0175);
        transform: translate(-58%, -42%);
        background-color: var(--highlight);
        border: 1px solid $background-0_1;
        z-index: 0;
      }

      @include from ($tablet) {
        --bg-side: 16rem;
        font-size: 1vw;
        margin-bottom: 3rem;
      }

      @include from ($desktop-large) {
        --bg-side: 11vw;
      }
    }

    h1.my-name {
      font-weight: 900;
      font-size: 14vw;
      line-height: 1;
      z-index: 1;
      margin-bottom: 3rem;

      @include from ($small-phone) {
        font-size: 12vw;
      }

      @include from ($large-phone) {
        margin-bottom: 2rem;
        font-size: 8.25vw;
      }

      @include from ($desktop) {
        font-size: 6.85vw;
      }
    }

    .intro-para {
      position: relative;
      padding-left: 1rem;
      font-size: $size-5;
      color: var(--text-1);
      font-weight: lighter;
      line-height: 2;

      .emphasis {
        display: inline-block;
        line-height: 1;
        color: $text-1;
        font-weight: 700;
        padding: 0.2em;
        border: 1px solid var(--text-2);
      }

      @include from ($desktop) {
        font-size: 1.35vw;
      }
    }
  }

  .home-scroll-indicator {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
