.page-common {
  .page-title-container {
    position: relative;
    width: 100%;
    margin-bottom: 4rem;
    padding-bottom: 2.6rem;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 4rem;
      height: 1px;
      background-color: currentColor;
    }
  }

  .page-title {
    --circle-side: 3.6rem;
    position: relative;
    display: block;
    font-size: 2.2rem;
    font-weight: 800;
    
    @include from ($desktop) {
      font-size: 2.4rem;
    }

    @include from ($desktop-large) {
      font-size: 2.8rem;
      margin-bottom: 6rem;
    }

    .text {
      position: relative;
      z-index: 1;
    }

    .circle-deco {
      position: absolute;
      width: var(--circle-side);
      height: var(--circle-side);
      border-radius: var(--circle-side);
      top: 0;
      left: 0;
      transform: translate(-35%, -32%);
      background-color: $highlight;
      border: 1px $text-2;
      z-index: 0;

      &::after {
        content: '';
        display: block;
        position: relative;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        border: 1px dashed $text-2;
        transform: translate(17.5%, -10.5%);
      }
    }
  }

  .page-desc {
    position: relative;
    font-size: $size-5;
    color: $text-1;
    font-weight: 500;
    margin: 1rem 0 0 0;
    padding-left: 2.6rem;

    @include has-icon;

    &::before {
      content: '\e717';
      position: absolute;
      top: 0;
      left: 2px;
      font-size: 1.025em;
    }
  }

  .page-content-wrapper {
    position: relative;
    margin-top: 4rem;
    max-width: 110rem;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    @include from ($desktop-large) {
      max-width: 110rem;
    }
  }
}